nifi-tcp-listener.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>palladion-tcp-listener</name><snippet><connections><id>2aab62fd-efd4-4d47-9378-d24ebdffd5f3</id><parentGroupId>29b2fb13-5d89-4b8e-8ffd-f2dd4640a9ba</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>29b2fb13-5d89-4b8e-8ffd-f2dd4640a9ba</groupId><id>ca8e9f46-e84d-4829-8ed0-9c06c398d100</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>e89383e9-8e90-49c3-abd4-58d22b58c6b0</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><outputPorts><id>ca8e9f46-e84d-4829-8ed0-9c06c398d100</id><parentGroupId>29b2fb13-5d89-4b8e-8ffd-f2dd4640a9ba</parentGroupId><position><x>-542.1055073786049</x><y>-163.86357786767132</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Data for Spark</name><state>RUNNING</state><transmitting>false</transmitting><type>OUTPUT_PORT</type></outputPorts><processGroups><id>6b8b3551-7ab2-4de1-a659-5eefb0b99890</id><parentGroupId>29b2fb13-5d89-4b8e-8ffd-f2dd4640a9ba</parentGroupId><position><x>-636.3041895255576</x><y>-440.94821916616814</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>035480bf-bd78-4dda-a9fe-43b9180e3547</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>-298.6178958486721</x><y>-137.23388843636235</y></bends><bends><x>-298.6178958486721</x><y>-87.23388843636235</y></bends><destination><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>ca4360cd-9fd7-46a2-b235-3551f282e530</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>ca4360cd-9fd7-46a2-b235-3551f282e530</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6cbea947-b882-46b8-811f-e4dd2bc9ca7b</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>00bca789-8bdb-4e1a-ae83-92b503f03103</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>ca4360cd-9fd7-46a2-b235-3551f282e530</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>53ac8699-5ed7-4805-a004-2f2282cf2e08</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>e89383e9-8e90-49c3-abd4-58d22b58c6b0</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>00bca789-8bdb-4e1a-ae83-92b503f03103</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>01d65a3f-2f65-4898-9ae5-22edad785e5d</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>-285.3869076607323</x><y>221.15985417324413</y></bends><bends><x>-285.3869076607323</x><y>271.1598541732441</y></bends><destination><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>42e0d518-4ed2-47e2-a1f2-ec91042c898e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>42e0d518-4ed2-47e2-a1f2-ec91042c898e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>48bd9b2e-3581-4d0a-bf98-460c602885b7</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>42e0d518-4ed2-47e2-a1f2-ec91042c898e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>00bca789-8bdb-4e1a-ae83-92b503f03103</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b85b0bdf-90e3-45e4-945b-68d8c7d47b25</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>ca4360cd-9fd7-46a2-b235-3551f282e530</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</groupId><id>f7cde4b4-483b-4d0e-8c76-d3b844897afe</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><outputPorts><id>e89383e9-8e90-49c3-abd4-58d22b58c6b0</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><position><x>-78.42813577046036</x><y>34.84843362676449</y></position><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Data for Spark</name><state>STOPPED</state><type>OUTPUT_PORT</type></outputPorts><processors><id>42e0d518-4ed2-47e2-a1f2-ec91042c898e</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><position><x>-694.3869076607323</x><y>196.15985417324413</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>false</value></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>00bca789-8bdb-4e1a-ae83-92b503f03103</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><position><x>-699.6521318445377</x><y>1.1570634937193915</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>beneficiaryAcctNum</key><value><description></description><displayName>beneficiaryAcctNum</displayName><dynamic>true</dynamic><name>beneficiaryAcctNum</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>countryCode</key><value><description></description><displayName>countryCode</displayName><dynamic>true</dynamic><name>countryCode</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>customerID</key><value><description></description><displayName>customerID</displayName><dynamic>true</dynamic><name>customerID</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>ipAddress</key><value><description></description><displayName>ipAddress</displayName><dynamic>true</dynamic><name>ipAddress</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>isp</key><value><description></description><displayName>isp</displayName><dynamic>true</dynamic><name>isp</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>timestamp</key><value><description></description><displayName>timestamp</displayName><dynamic>true</dynamic><name>timestamp</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>txnID</key><value><description></description><displayName>txnID</displayName><dynamic>true</dynamic><name>txnID</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>txnType</key><value><description></description><displayName>txnType</displayName><dynamic>true</dynamic><name>txnType</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>beneficiaryAcctNum</key><value>${csv.8}</value></entry><entry><key>countryCode</key><value>${csv.3}</value></entry><entry><key>customerID</key><value>${csv.2}</value></entry><entry><key>ipAddress</key><value>${csv.4}</value></entry><entry><key>isp</key><value>${csv.5}</value></entry><entry><key>timestamp</key><value>${csv.7}</value></entry><entry><key>txnID</key><value>${csv.1}</value></entry><entry><key>txnType</key><value>${csv.6}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>ca4360cd-9fd7-46a2-b235-3551f282e530</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><position><x>-707.6178958486721</x><y>-162.23388843636235</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Capture Group Length</key><value><defaultValue>1024</defaultValue><description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description><displayName>Maximum Capture Group Length</displayName><dynamic>false</dynamic><name>Maximum Capture Group Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Canonical Equivalence</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match only when their full canonical decompositions match.</description><displayName>Enable Canonical Equivalence</displayName><dynamic>false</dynamic><name>Enable Canonical Equivalence</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Case-insensitive Matching</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description><displayName>Enable Case-insensitive Matching</displayName><dynamic>false</dynamic><name>Enable Case-insensitive Matching</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description><displayName>Permit Whitespace and Comments in Pattern</displayName><dynamic>false</dynamic><name>Permit Whitespace and Comments in Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable DOTALL Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description><displayName>Enable DOTALL Mode</displayName><dynamic>false</dynamic><name>Enable DOTALL Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that Metacharacters and escape characters should be given no special meaning.</description><displayName>Enable Literal Parsing of the Pattern</displayName><dynamic>false</dynamic><name>Enable Literal Parsing of the Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Multiline Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description><displayName>Enable Multiline Mode</displayName><dynamic>false</dynamic><name>Enable Multiline Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode-aware Case Folding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description><displayName>Enable Unicode-aware Case Folding</displayName><dynamic>false</dynamic><name>Enable Unicode-aware Case Folding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description><displayName>Enable Unicode Predefined Character Classes</displayName><dynamic>false</dynamic><name>Enable Unicode Predefined Character Classes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unix Lines Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that only the '
' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description><displayName>Enable Unix Lines Mode</displayName><dynamic>false</dynamic><name>Enable Unix Lines Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Capture Group 0</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.</description><displayName>Include Capture Group 0</displayName><dynamic>false</dynamic><name>Include Capture Group 0</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>csv</key><value><description></description><displayName>csv</displayName><dynamic>true</dynamic><name>csv</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Maximum Capture Group Length</key><value>1024</value></entry><entry><key>Enable Canonical Equivalence</key><value>false</value></entry><entry><key>Enable Case-insensitive Matching</key><value>false</value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value>false</value></entry><entry><key>Enable DOTALL Mode</key><value>false</value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value>false</value></entry><entry><key>Enable Multiline Mode</key><value>false</value></entry><entry><key>Enable Unicode-aware Case Folding</key><value>false</value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value>false</value></entry><entry><key>Enable Unix Lines Mode</key><value>false</value></entry><entry><key>Include Capture Group 0</key><value>true</value></entry><entry><key>csv</key><value>(.+),(.+),(.+),(.+),(.+),(.+),(.+),(.+)</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Extract tokens </name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExtractText</type></processors><processors><id>f7cde4b4-483b-4d0e-8c76-d3b844897afe</id><parentGroupId>6b8b3551-7ab2-4de1-a659-5eefb0b99890</parentGroupId><position><x>-702.5855615958701</x><y>-345.1047743419494</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Local Network Interface</key><value><description>The name of a local network interface to be used to restrict listening to a specific LAN.</description><displayName>Local Network Interface</displayName><dynamic>false</dynamic><name>Local Network Interface</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><description>The port to listen on for communication.</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Receive Buffer Size</key><value><defaultValue>65507 B</defaultValue><description>The size of each buffer used to receive messages. Adjust this value appropriately based on the expected size of the incoming messages.</description><displayName>Receive Buffer Size</displayName><dynamic>false</dynamic><name>Receive Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Size of Message Queue</key><value><defaultValue>10000</defaultValue><description>The maximum size of the internal queue used to buffer messages being transferred from the underlying channel to the processor. Setting this value higher allows more messages to be buffered in memory during surges of incoming messages, but increases the total memory used by the processor.</description><displayName>Max Size of Message Queue</displayName><dynamic>false</dynamic><name>Max Size of Message Queue</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Size of Socket Buffer</key><value><defaultValue>1 MB</defaultValue><description>The maximum size of the socket buffer that should be used. This is a suggestion to the Operating System to indicate how big the socket buffer should be. If this value is set too low, the buffer may fill up before the data can be read, and incoming data will be dropped.</description><displayName>Max Size of Socket Buffer</displayName><dynamic>false</dynamic><name>Max Size of Socket Buffer</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies the character set of the received data.</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Batch Size</key><value><defaultValue>1</defaultValue><description>The maximum number of messages to add to a single FlowFile. If multiple messages are available, they will be concatenated along with the &lt;Message Delimiter&gt; up to this configured maximum number of messages</description><displayName>Max Batch Size</displayName><dynamic>false</dynamic><name>Max Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><defaultValue>\n</defaultValue><description>Specifies the delimiter to place between messages when multiple messages are bundled together (see &lt;Max Batch Size&gt; property).</description><displayName>Batching Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Number of TCP Connections</key><value><defaultValue>2</defaultValue><description>The maximum number of concurrent TCP connections to accept.</description><displayName>Max Number of TCP Connections</displayName><dynamic>false</dynamic><name>Max Number of TCP Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context. If this property is set, messages will be received over a secure connection.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Auth</key><value><allowableValues><displayName>WANT</displayName><value>WANT</value></allowableValues><allowableValues><displayName>REQUIRED</displayName><value>REQUIRED</value></allowableValues><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><defaultValue>REQUIRED</defaultValue><description>The client authentication policy to use for the SSL Context. Only used if an SSL Context Service is provided.</description><displayName>Client Auth</displayName><dynamic>false</dynamic><name>Client Auth</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Local Network Interface</key><value>eth0</value></entry><entry><key>Port</key><value>9999</value></entry><entry><key>Receive Buffer Size</key><value>65507 B</value></entry><entry><key>Max Size of Message Queue</key><value>10000</value></entry><entry><key>Max Size of Socket Buffer</key><value>1 MB</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Max Batch Size</key><value>1</value></entry><entry><key>Message Delimiter</key><value>\n</value></entry><entry><key>Max Number of TCP Connections</key><value>2</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Client Auth</key><value>REQUIRED</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListenTCP</name><relationships><autoTerminate>false</autoTerminate><description>Messages received successfully will be sent out this relationship.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenTCP</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>palladion-tcp-listen</name><outputPortCount>1</outputPortCount><parent><id>29b2fb13-5d89-4b8e-8ffd-f2dd4640a9ba</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>5</stoppedCount></processGroups></snippet><timestamp>04/20/2016 04:20:59 UTC</timestamp></template>